<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00</td>  <td>Working on the command line and cluster</td> </tr>
      <tr> <td>11:30</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00</td>  <td>Working on the command line and cluster (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>15:00</td>  <td>Morning break</td> </tr>
      <tr> <td>15:30</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Python fundamentals</td> </tr>
      <tr> <td>11:30</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00</td>  <td>Introduction to Python</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Programing and data analysis with Python</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Programming and data analysis with Python (Continued)</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 (Tuesday 26th March)</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Collaborative session</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Collaborative session (Continued)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
